.container_pagi {
    display: flex;
    justify-content: center;
}

.pagi_btn {
    margin-left: 10px;
}

.spacing_cap {
    margin-right: 50px;
}

.custom-margin {
    margin-bottom: 20px;
  }

.red-bg {
    background-color: red;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

td {
    padding: 10px;
}
.current-day {
  background-color: green;
}