{% extends "savings/forms_layout.html" %} {% load static %} 
{% block title%}Savings {%endblock%} {% block bank_account %}

<div class="pagetitle">
  <h1>Create Account</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'savings' %}">Home</a></li>
      <li class="breadcrumb-item">Forms</li>
      <li class="breadcrumb-item active">Account</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Creating My Account</h5>
        <p>
        
        
        </p>
         {% for message in messages %}
         <h4 class="col-lg-6 alert alert-info">{{message}}</h4>
         {% endfor %}
        

        <!-- Custom Styled Validation with Tooltips -->
        <form action="{% url 'bank_account' %}" method="POST" class="row g-3 needs-validation" novalidate>
            {% csrf_token %}
          <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label"
              >First name</label
            >
            <input
              type="text"
              class="form-control"
              id="validationTooltip01"
              name="last_name"
              required
            />
            <div class="valid-tooltip">Looks good!</div>
          </div>
          <div class="col-md-4 position-relative">
            <label for="validationTooltip02" class="form-label"
              >Last name</label
            >
            <input
              type="text"
              class="form-control"
              id="validationTooltip02"
              name="first_name"
              required
            />
            <div class="valid-tooltip">Looks good!</div>
          </div>
          <div class="col-md-4 position-relative">
            <label for="validationTooltipUsername" class="form-label"
              >Account Type</label
            >
            <div class="input-group has-validation">
              
              
              <input
                type="text"
                class="form-control"
                name="account_type"
                id="validationTooltipUsername"
                aria-describedby="validationTooltipUsernamePrepend"
                required
              />
              <div class="invalid-tooltip">
                Please choose a valid Account Type.
              </div>
            </div>
          </div>
          <div class="col-md-6 position-relative">
            <label for="validationTooltip03" class="form-label">Depost Amount</label>
            <input
              type="text"
              class="form-control"
              name= "account_balance"
              id="validationTooltip03"
              required
            />
            <div class="invalid-tooltip">Please provide a valid Account Type.</div>
       
          <br>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Create Account</button>
          </div>
        </form>
        <!-- End Custom Styled Validation with Tooltips -->
      </div>
    </div>
  </div>
</section>

{% endblock %}
